<div class="buttom">
    <br>
<div class="sss">
    <h4>
        Subscribe to our newsletter
    </h4>
   <p>
    The latest news, products, offers, and discounts, sent to your inbox.

   </p>
   <input class="input" type="text"  placeholder=  "your email address">

<button class="btn btns">Subscribe</button>
<br><br><br>
 <div class="social" style="font-size: 20px;">
    Follow us
    <br>
    <div class="folow">
    <a href="https://www.linkedin.com/in/hassan-krira-5666491a8/" id="in"></a>
    <a href="https://www.facebook.com/hassan.krira.1" id="face"></a>
    <a href="https://x.com/kraira_has65070" id="x"></a>
    <a href="https://www.instagram.com/hassan_kraira2003/" id="insta"></a>
    <a href="http://wa.me/+970592434558" id="wat"></a>
</div>
</div>
</div>

</div>
<div class="pcata">
<h5>PRODUCT</h5>
<br><br>
<div class="products">
<a   (click)="HomeComponent.selected('P')" (click)="tt()"  routerLink="/Products/Keyboards">Keyboards</a>
<br><br>
<a (click)="HomeComponent.selected('P')" (click)="tt()"  routerLink="/Products/Mice">Mice</a>
<br><br>
<a (click)="HomeComponent.selected('P')" (click)="tt()"  routerLink="/Products/HeadPhones">HeadPhones</a>
<br><br>
<a (click)="HomeComponent.selected('P')" (click)="tt()"  routerLink="/Products/USB Cables">USB Cables</a>
<br><br>
<a (click)="HomeComponent.selected('P')" (click)="tt()"  routerLink="/Products/Monitors">Monitors</a>
<br><br>
<a (click)="HomeComponent.selected('P')" (click)="tt()"  routerLink="/Products/Webcams">Webcams</a>
<br><br>
<a (click)="HomeComponent.selected('P')" (click)="tt()"  routerLink="/Products/Speakers">Speakers</a>
<br><br>
<a (click)="HomeComponent.selected('P')" (click)="top()" routerLink="/Products/">Others</a>
</div>
<div class="company">
    <h5>
        COMPANY
    </h5>
    <br>
<a #H (click)="HomeComponent.selected('H')" (click)="top()" routerLink="/Home">HomePage</a>
<br><br>
<a #F (click)="HomeComponent.selected('F')" (click)="top()" routerLink="/FAQs">FAQs</a>
<br><br>
<a #P (click)="HomeComponent.selected('P')"  (click)="top()" routerLink="/Products">Products</a>
<br><br>
<a #C (click)="HomeComponent.selected('C')" (click)="top()" routerLink="/ContactUs">Contact Us</a>

</div>
</div>
