.bodyy{
    background-color: rgb(31, 41, 55);
  }
  a{
    color: white;
  }
  .btnsc {
  color: white;
  margin: 0 20px;
  font-size: 80%;
  }
  
  .abc {
    position: relative;
    font-size: 10px;
    text-decoration: none;
    }
    
  .abc::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  }
  
  .abc:hover::before,
  .abc.selected::before {
  visibility: visible;
  transform: scaleX(1);
  }
  
  .abc:hover {
  color: #ffffff;
  }
    .nave{
        background-color: #1f2937;
        color: white;
        padding: 7%;
        margin-left: 7%;
    }
    .nave img{
      padding: 1px;
      width: 33px;
    }
    .sse{
      width: 21px;
      color: rgb(255 255 255 / 50%);
    }
    .grid-container {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      width: 75%;
      margin-left: 9.5%;
      gap: 3%;
      row-gap: 6rem;
        }
    .flipped-svg {
      transform: rotate(180deg);
      margin-top: -11%;
    }
    
    .img{
      width: 100%;
      border-radius:20px 20px  0px 0px  ;
      height: 210px;
    }
    .img2{
      width: 100%;
      border-radius: 0px 0px 20px 20px;
            height: 210px;
    }
    .header2{
      width: 100%;
      font-size: 20px;
      color:  #fff;
    background-color: #4338ca;
    border-radius:  20px 20px 0px 0px;
    }
    .header{
      width: 100%;
      font-size: 20px;
      color:  #fff;
    background-color: #4338ca;
    border-radius: 20px 20px 0px 0px ;
    
    }
    .grid-item {
     opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.6s ease, transform 0.5s ease;
    width: 100%;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border: solid;
    
    }
    
   .ddddddddd{
    margin-left: 50%;
    margin-top: -7%;
   }
    .grid-item.visible {
      opacity: 1;
      transform: scale(1);
    }
    .cont{
      margin-top: 5%;
      width: 83%;
    }
    .clickAway img{
      width: 74%;
      margin-left: 15%;
      margin-top: 10%;
      float: none;
    }
    
    
    
    .gradient-text {
      background: linear-gradient(to right, rgb(31 41 55), #702985);
      background-clip: text;
      color: transparent;
    }
    
    
    .a:hover {
      background-color: #303140;
    }
    
    a {
      text-decoration: none;
    }
    
    .ppname{
        color: white;
        float: right;
        margin-right: 15%;
        margin-top: -34%;
        background-color: #330740;
        width: 30%;
        padding: 1%;
        font-family: sans-serif;
        font-size: 158%;
    }
    .ppname p{
      font-size: 65%;
    }
    .Details{
      float: right;
      margin-right: 36%;
      color: white;
      font-size: 135%;
      margin-top: -25%;
    } 
    .discription{
      background-color: rgb(31 41 55);
      font-size: 150%;
      color: white;
      border-bottom-right-radius:0;
      border-bottom-left-radius: 0;

    }

    .gridDetals{
        display: grid;
        grid-template-columns: 9rem;
        height: 300px;
        }
    .gridItem{
        background-color: #1e0426;
        width: 350%;
        padding: 5%;
    }
    .gridItem2{
        background-color: #ffffff;
        width: 350%;
        color: black;
        padding: 5%;
    }
    .bbbnb{
      background-color: #111827;
      border-bottom: none;
      color: white;
      width: 15%;
      height: 4rem;

    }
    
    /* Responsive Styles */
    @media screen and (max-width: 768px) {
      .ff {
        width: 80%;
        margin: 20% auto;
        padding: 15px;
        font-size: 13.5px;
         height: auto;
    
    
      }
    
      .gradient-text {
        font-size: 200%;
      }
    .grid{
      grid-template-columns: 30% 30%;
    }
    
    
    }
    
    .grid-container {
      display: grid;
      padding-top: 10%;
      padding-bottom: 5%;
      grid-template-columns: 25% 25% 25% 25%;
      width: 75%;
      margin-top: 0%;
      margin-left: 9.5%;
      gap: 3%;
      row-gap: 6rem;
      }

    
    .grid-item {
      background-color: rgb(0 0 0 / 30%);
      border: solid   black 0.5px;
      opacity: 0;
      transform: scale(0.1); 
      transition: opacity 0.6s ease, transform 0.5s ease;
      width: 100%;
      text-align: center;
      align-items: center;
      border-radius: 20px;
    
    }
    .grid-item:hover{
      transform: scale(1.05); 
      box-shadow: 0 4px 8px rgba(0, 0, 0);
    }
    .abc:hover::before,
    .abc.selected::before,
    .grid-item:hover .abc::before {
      visibility: visible;
      transform: scaleX(1);
    }
    .grid-item.visible {
      opacity: 1;
      transform: scale(1);
    }
    .svgpath{
      width: 100%;
      height: 65rem;
      border-radius: 33% 33% 0px 0px;
      background: linear-gradient( to right, #702985 , black );
        margin-top: 3%;
    }
    
    .img{
      width: 100%;
      border-radius: 10px 10px 0px 0px ;
      height: 210px;
    }
    .header{
      width: 90%;
      font-size: 20px;
      color:  #fff;
    background-color: #48015e;
    border-radius: 10px 10px 10px 10px ;
    }
    h4{
      text-align: left;
      color :white
    }
    .underimg{
      margin-top: 5%;
    }
    
    .paragraph{
      color: white;
      width: 80%;
      text-align: center;
      margin-left: 10.5%;
    }
    .ppp{
      margin-top: -20%;
    }
    .whyImage{
      margin-left: 50%;
      margin-top: 0%;
      transform: rotateY(180deg);
    
    }
    .why{
      background-color: rgb(31, 41, 55);
      color: white;
    }
    .why1{
      margin-left: 10%;
      height: 55rem;
    }
    .whytop{
      background: #1f2937;
      color: white;
      margin: 0% 0% -4% 0%;
      padding: 10%;
    }
    .grid {
      display: grid;
      background-color: #1f2937;
      width: 100%;
        grid-template-columns: 20% 20%;
      gap: 20px;
      margin-top: -45%;
      width: 100%;
    }
    
    .griditem {
      perspective: 1000px;
      border-radius: 20px;
    }
    
    .griditem-inner {
      position: relative;
      width: 100%;
      height: 215px;
      transition: transform 0.4s;
      transform-style: preserve-3d;
    }
    
    .griditem-front,
    .griditem-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 20px;
      text-align: center;
      color: white;
    }
    
    .griditem-front {
      background-color: #374151;
    }
    
    .griditem-back {
      background-color: #374151;
      transform: rotateY(180deg);
      display: flex;
    }
    
    .griditem img {
      width: 25%;
      height: 70px;
      margin-top: 40px;
    }
    
    .griditem button {
      width: 75%;
      background: none;
      color: #c205fa;
      border-color: #c205fa;
      font-size: 17px;
    }
    
    .griditem:hover .griditem-inner {
      transform: rotateY(180deg);
    }
    .griditem-back li{
      font-weight: 600;
      text-align: justify;
      font-size: 15px;
    }
    .griditem-back img{
      margin-top: 10%;
      width: 20%;
      margin-left: 65%;
      height: 50px;
    }
    .griditem-back ul{
      margin-top: 35%;
      color: #330740;
    
      margin-left: -85%;
    }
    .AboutUs{
       background-color:  rgb(31, 41, 55);
    }
    .AboutUs img {
      margin-left: 10%;
      width: 40%;
    }
    .AAA{
      width: 40%;
      margin-right: 8%;
      float: right;
      margin-top: 6%;
      color: white;
    }
    .AAA h4{
      color:#c205fa;
    }
    .AAA p{
      color:white;
      font-size: 18px;
    }
    .clickAway{
      background: linear-gradient(165deg, #1f2937 0%, #1f2937 50%, #111827 50%, #111827 100%);
    }
    .clickAway img{
      width: 50%;
      margin-left: 58%;
      margin-top: 5%;
    }
    .cont{
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.25);
      width: 42%;
      margin-top: -35%;
      margin-left: 10%;
      text-align: center;
    }
    .hh{
      text-align: center;
      width: 40%;
      padding: 1.4%;
      margin-left: 28%;
      background-color: #330740;
      color: white;
      transform: rotate(28deg) translateX(15px) translateY(30px) rotate(-32deg);
    }
    .HH{
      transform: rotate(35deg) translateX(0px) translateY(0px) rotate(-32deg);
    }
    .PP{
      color: white;
      font-size: 18px;
      text-align: justify;
      margin-top: 6%;
      padding: 3.5%;
    
    }
    .pp{
      color: white;
      font-size: 15px;
      text-align: justify;
      margin-top: -7%;
      padding: 3.5%;
    }
    .user-input-wrp {
      position: relative;
      background: none;
      width: 88%;
      margin-left: 3%;
      font-size:24px;
      
    }
    .user-input-wrp .inputText{
        width: 100%;
        outline: none;
      background: none;
        border:none;
      box-shadow: none !important;
    }
    .user-input-wrp .inputText:focus{
      border-bottom: 3px solid #76009a; 
      background: none;
        border-width: medium medium 2px;
      color: white;
    
    }
    .user-input-wrp .floating-label {
        position: absolute;
        pointer-events: none;
        top: 18px;
        left: 10px;
        transition: 0.2s ease all;
      color: rgb(255,255,255,0.3);
    }
    .user-input-wrp input:focus ~ .floating-label,
    .user-input-wrp input:not(:focus):valid ~ .floating-label{
        top: 0px;
        left: 10px;
        font-size: 13px;
        opacity: 1;
      color: #76009a;
    }
    .user-input-wrp textarea:focus ~ .floating-label,
    .user-input-wrp textarea:not(:focus):valid ~ .floating-label{
        top: -20px;
        left: 10px;
        font-size: 13px;
        opacity: 1;
      color: #76009a;
    }
    .btns{
      width: 25%;
      background-color: #330740;
      color: white;
      margin-left: 20%;
      font-size: 1.2rem;
      height: 3.5em;
      margin-top: 1%;
    }
    @media (max-width:1080px) {
     .bodyy{
      padding: 10%;
     }
      .svgpath {
       height: 90rem;
      }
      .grid-container{
        grid-template-columns: 50% 50%;
        grid-row-gap: 6rem;
      }
      .whyImage{
        float: none;
        margin-left:25%;
        margin-top: -70%;
        width: 50%;
      }
      .why{
        display: grid;
        grid-template-columns: 100%;
      }
      .whytop h1{
        margin-top: 60%;
      }
      .grid{
       margin-top: -10%;
       grid-template-columns: 45% 45%;
       margin-left: 0%;
    
    }
    .header{
      font-size: 18px;
    }
    .AboutUs img{
      width: 80%;
      margin-top: -15%;
    }
    .AAA{
      width: 80%;
      margin-left: 20%;
    }
    .cont{
      margin-top: 5%;
      width: 83%;
    }
    .clickAway img{
      width: 74%;
      margin-left: 15%;
      margin-top: 10%;
      float: none;
    }
    
    .btns{
      width: 37%;
    }
    }
    @media (min-width:1067px) {
      .grid{
        margin-top: -49%;
      }
    
      .cont{
        width: 50%;
      }
    }
    .immg{
      margin-left: 12%;margin-top: -5%;width: 40%;height: 450px;border-radius: 20px;
    }
    @media (max-width:1080px) {
      .immg{
        width: 80%;
        height: 450px;

      }
      .ppname{
        color: white;
        float: right;
        margin-right: 10%;
        margin-top: 10%;
        background-color: #330740;
        width: 80%;
        padding: 1%;
        font-family: sans-serif;
        font-size: 158%;
      }
      .nave{
        margin-top: 8%;
      }
      .Details{
        float: right;
        margin-right: 75%;
        color: white;
        font-size: 135%;
        margin-top: 6%
    }
    .gridDetals {
      display: grid;
      grid-template-columns: 8rem;
      height: 300px;
      padding-bottom: 10%;
  }
  .btns {
    width: 65%;
}
.cccc{
  margin-top: 135%;
  margin-left: 5%;
  color: white;
}
.abc{
  font-size: 62%;
}
.header2{
  font-size: 100%;
}
.hh1{
  font-size: 150%;
}
}