<div class="clickAway" >
    <br><br><br><br>
    <img src="assets/contact-us.png" alt="">
    <div class="cont">
      <h2 class="hh">
        <div class="HH">
          We are a click away
        </div>
      </h2>
      <p class="PP">
        Your business deserves to succeed - don't wait any longer, let us ensure that you and your business thrive.
      </p>
      <p class="pp">
        Take action now and let's make your goals a reality!
      </p>
      <div class="user-input-wrp">
        <br/>
        <input type="text" class="inputText" required/>
        <span class="floating-label">Email address</span>
      </div>
      <br><br>
      <div class="user-input-wrp">
        <textarea class="inputText" style="height:90px" required></textarea>
        <span class="floating-label">Messages</span>
      </div>
      <button class="btn btns"><strong>Contact Us Now</strong></button>
      <br><br>
    </div>
    <br><br><br>
  </div>